# general stuff
.DS_Store
perf.data
build-*
build_*

# kde temporary files
*~

# xemacs temporary files
*.flc

# vim temporary files
.*.swp

# project files
CMakeLists.txt.user

# with extension
*.log
*.bak
*.old
*.zip
*.xz
*.gz
*.log
*.job
*.pdf
*.csv

##EOF
